.goods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods__list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}